
* {
    box-sizing: border-box;
}

img {
    width: 100px;
    height: 80px;

}

body {
    background-size: 100% 100%;
    background: url(http://deskbg.com/i/c/1366x768/wpp/0/638/nighttime-desktop-background.jpg)
}

h1 {
    margin-top: 100px;
    font-size: 60px;
}

h2 {
    font-size: 55px;
    margin-top: -35px;
}

h3 {
    position: fixed;
    left: 44%;
    bottom: 0;
    color: white;

    opacity: 0.7;
    font-weight: 100;
}

h1, h2 {
    display: flex;
    justify-content: center;
    color: #e0bf77;
    text-shadow: 2px 2px #543d2c;
    opacity: 0.9;

}

.api-temp ul {
    opacity: 0.9;
    display: flex;
    justify-content: center;
    margin-left: -100px;
}

.api-temp ul, li {
    list-style-type: none;
    text-decoration: none;
}

.api-temp li {
    font-weight: 600;
    font-size: 60px;
    color: white;
    display: flex;
    justify-content: center;
    text-shadow: 1px 1px 1px black;
    opacity: 0.8;
    padding: 0 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-top: -20px;
}

.api-weather ul {
    opacity: 0.8;
    display: flex;
    justify-content: center;
    margin-left: -50px;
}

.api-weather ul, li {
    text-decoration: none;
    list-style-type: none;
}

.api-weather li {
    font-size: 20px;
    background-color: #022445;
    padding: 18px 30px;
    margin: 2px;
    border-radius: 3px;
    font-weight: 600;
    color: #e2886c;
}